  .card:hover {
    background-color: #f8f9fa;
    transition: 0.3s ease;
  }
  
  .btn-primary {
    margin-right: 15px;
    background-color: #212529;
    border-color: #212529;
  }
  .hero-banner {
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
  }  
  .hero-banner h1, .hero-banner p {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  }
  