/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    margin-bottom: 20px;
  }
  
  .card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  